<div style="margin-top:2em; margin-bottom:1.5em;">

	<div class="ifthenpay_confirm_header">
		<h2>{{ mbwayAlias }}</h2>
		<img src="catalog/view/theme/default/image/ifthenpay/mbway.png" style=" height: 38px;" alt="MB WAY logo" title="{{ mbwayAlias }}">
	</div>

	<p>
		<b>{{ mbway_confirm_panel_desc }}</b>
	</p>
	<div class="panel panel-default" style="padding: 2em;">

		{% if showPaymentInstruction %}
			<p style="margin-bottom: 2em;">
				{{ mbway_instruction|nl2br }}
			</p>

		{% endif %}

		<form class="form-horizontal" id="ifthenpayMbwayPhoneDiv">

			<div class="form-group required" style="margin-bottom:0">
				<label class="col-sm-2 control-label" for="ifthenpay_pix_customerName">{{ entry_mbway_mobile_number }}</label>

				<div class="col-sm-4">

					<select name="mbway_country_code" class="form-control" id="ifthenpayMbwayCountryCode">
						{% for country_code_option in mbwayCountryCodeOptions %}
							<option value="{{ country_code_option.value }}" {% if country_code_option.value == 351 %} selected {% endif %}>{{ country_code_option.name }}</option>
						{% endfor %}
					</select>

				</div>
				<div class="col-sm-6">
					<input type="text" name="ifthenpayMbwayPhone" value="" id="ifthenpayMbwayPhone" class="form-control"/>
					<div class="ifthenpay_error_message text-danger"></div>

				</div>
			</div>

		</form>

	</div>
</div>


<div class="buttons">
	<div class="pull-right">
		<input type="button" value="{{ button_confirm }}" id="button-confirm" data-loading-text="{{ text_loading }}" class="btn btn-primary"/>
	</div>
</div>

<link href="{{mbwayStyle}}" rel="stylesheet" type="text/css">
<script type="text/javascript">
	var mbwayLanguage = {{ mbwayLanguage }};
var phpVariables = {{ phpVariables }};
</script>
<script type="text/javascript" src="{{mbwayScript}}"></script>
