<div class="field required" id="ifthenpayMbwayPhoneDiv">
  <div class="control input-container center">
    <img src="catalog/view/theme/default/image/ifthenpay/png/mbway.png" class="" style="height: 38px; width: 83px;" alt="mbway logo">
    <input name="ifthenpayMbwayPhone" class="text input-mbway form-control" type="text" id="ifthenpayMbwayPhone" placeholder="{{mbwayPhoneNumber}}">
  </div>
</div>


<div class="buttons">
  <div class="pull-right">
    <input type="button" value="{{ button_confirm }}" id="button-confirm" data-loading-text="{{ text_loading }}" class="btn btn-primary" />
  </div>
</div>
<link href="{{mbwayStyle}}" rel="stylesheet" type="text/css">
<script type="text/javascript">
  var mbwayLanguage = {{mbwayLanguage}};
  var phpVariables = {{phpVariables}};
</script>
<script type="text/javascript" src="{{mbwayScript}}"></script>