<div class="panel-heading">
	<h5>{{ifthenpayPaymentPanelTitle}}</h5>
</div>
<div class="panel-body">
    <div class="paymentLogo">
        <img src="admin/view/image/payment/{{paymentMethod}}.png" alt=" logotipo">
    </div>
    <div class="paymentData">
        {% if paymentMethod == 'multibanco' %}
            <ul class="list-group">
                <li class="list-group-item">
                    {{ifthenpayPaymentPanelEntidade}}
                    <span class="badge">{{entidade}}</span>
                </li>
                <li class="list-group-item">
                    {{ifthenpayPaymentPanelReferencia}}
                    <span class="badge">{{referencia}}</span>
                </li>
                <li class="list-group-item">
                    {{ifthenpayPaymentPanelTotalToPay}}
                    <span class="badge">{{totalToPay}}</span>
                </li>
            </ul>
        {% elseif paymentMethod == 'mbway' %}
            <ul class="list-group">
                <li class="list-group-item">
                    {{ifthenpayPaymentPanelPhone}}
                    <span class="badge">{{telemovel}}</span>
                </li>
                <li class="list-group-item">
                    {{ifthenpayPaymentPanelOrder}}
                    <span class="badge">{{orderId}}</span>
                </li>
                <li class="list-group-item">
                    {{ifthenpayPaymentPanelTotalToPay}}
                    <span class="badge">{{totalToPay}}</span>
                </li>
            </ul>
            {% if resendMbwayNotificationControllerUrl != '' %}
                <div>
                    <h5>{{ifthenpayPaymentPanelMbwayNotificationNotReceive}}</h5>
                    <a class="btn btn-primary" href="{{resendMbwayNotificationControllerUrl}}?orderId={{orderId}}&mbwayTelemovel={{telemovel}}&orderTotalPay={{totalToPay}}">{{ifthenpayPaymentPanelMbwayResendNotification}}</a>
                </div>
            {% endif %}
        {% elseif paymentMethod == 'payshop' %}
            <ul class="list-group">
                <li class="list-group-item">
                    {{ifthenpayPaymentPanelReferencia}}
                    <span class="badge">{{referencia}}</span>
                </li>
                <li class="list-group-item">
                    {{ifthenpayPaymentPanelValidade}}
                    <span class="badge">{{validade}}</span>
                </li>
                <li class="list-group-item">
                    {{ifthenpayPaymentPanelTotalToPay}}
                    <span class="badge">{{totalToPay}}</span>
                </li>
            </ul>
        {% else %}
            <ul class="list-group">
                <li class="list-group-item">
                    {{ifthenpayPaymentPanelTotalToPay}}
                    <span class="badge">{{totalToPay}}</span>
                </li>
            </ul>
        {% endif %}
    </div>
</div>