<div class="panel panel-default updateModulePanel">
    <div class="panel-body text-center">
        {% if updateIfthenpayModuleAvailable %}
            <img src="view/image/payment/ifthenpay/system-update.svg" alt="update system icon">
            <h2>{{ newUpdateAvailable }}</h2>
            <div class="text-left bulletPoints">
                {{ upgradeModuleBulletPoints }}
            </div>
            <div class="col-md-3 col-lg-4"></div>
			<div class="col-md-6 col-lg-4">
                <a href="{{moduleUpgradeUrlDownload}}" download id="downloadUpdateModuleIfthenpay" class="btn btn-danger btn-lg btn-block" target="_blank">{{downloadUpdateModule}}</a>
            </div>
        {% else %}
            <img src="view/image/payment/ifthenpay/updated.png" alt="update system icon">
            <h2>{{moduleUpToDate}}</h2>
        {% endif %}
    </div>
</div>