{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">
				<button type="submit" form="form_module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary">
					<i class="fa fa-save"></i>
				</button>
				<a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default">
					<i class="fa fa-reply"></i>
				</a>
			</div>
			<h1>{{ heading_title }}</h1>
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
					<li>
						<a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		{% if error_warning %}
			<div class="alert alert-danger alert-dismissible">
				<i class="fa fa-exclamation-circle"></i>
				{{ error_warning }}
				<button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
		{% endif %}
		{% if success %}
			<div class="alert alert-success alert-dismissible">
				<i class="fa fa-check-circle"></i>
				{{ success }}
				<button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
		{% endif %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<img src="view/image/payment/ifthenpay/multibanco.png" alt="multibanco logo"/>
				<span class="ph-version">v{{moduleVersion}}</span>
				<h3 class="create-account-title">
					{{ create_account }}</h3>
				<a href="https://www.ifthenpay.com/downloads/ifmb/contratomb.pdf" target="_blank" class="btn btn-default" id="create-account-btn">{{ create_account_now }}</a>
			</div>
			<div class="panel-body">
				<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-payment" class="form-horizontal">
					{% if payment_multibanco_backofficeKey %}
						{% if ifthenpayPayments %}
							<div class="col-lg-9">
								<h4>{{dontHaveAccount_multibanco }}</h4>
								<a class="btn btn-primary" id="requestNewAccount" href="{{actionRequestAccount}}" role="button">{{requestAccount_multibanco}}</a>
								{{ spinner }}
							</div>
						{% else %}
							<div class="form-group">
								<label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
								<div class="col-sm-10">
									<select name="payment_multibanco_status" id="input-status" class="form-control">
										{% if payment_multibanco_status %}
											<option value="1" selected="selected">{{ text_enabled }}</option>
											<option value="0">{{ text_disabled }}</option>
										{% else %}
											<option value="1">{{ text_enabled }}</option>
											<option value="0" selected="selected">{{ text_disabled }}</option>
										{% endif %}
									</select>
								</div>
							</div>
							{% if hasCallback %}
								<div class="form-group">
									<label class="col-sm-2 control-label" for="input-status">{{ sandbox_mode }}</label>
									<div class="col-sm-10">
										<select name="payment_multibanco_sandboxMode" id="input-status" class="form-control">
											{% if payment_multibanco_sandboxMode %}
												<option value="1" selected="selected">{{ text_enabled }}</option>
												<option value="0">{{ text_disabled }}</option>
											{% else %}
												<option value="1">{{ text_enabled }}</option>
												<option value="0" selected="selected">{{ text_disabled }}</option>
											{% endif %}
										</select>
										<small id="sandboxHelp" class="form-text text-muted">{{ sandbox_help }}</small>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label" for="input-status">{{ activate_callback }}</label>
									<div class="col-sm-10">
										<select name="payment_multibanco_activateCallback" id="input-status" class="form-control">
											{% if payment_multibanco_activateCallback %}
												<option value="1" selected="selected">{{ text_enabled }}</option>
												<option value="0">{{ text_disabled }}</option>
											{% else %}
												<option value="1">{{ text_enabled }}</option>
												<option value="0" selected="selected">{{ text_disabled }}</option>
											{% endif %}
										</select>
									</div>
								</div>
							{% endif %}
							{% if dynamicMb %}
								<div class="form-group">
									<label class="col-sm-2 control-label" for="input-status">{{ activate_cancelMultibancoOrder }}</label>
									<div class="col-sm-10">
										<select name="payment_multibanco_activate_cancelMultibancoOrder" id="input-status" class="form-control">
											{% if payment_multibanco_activate_cancelMultibancoOrder %}
												<option value="1" selected="selected">{{ text_enabled }}</option>
												<option value="0">{{ text_disabled }}</option>
											{% else %}
												<option value="1">{{ text_enabled }}</option>
												<option value="0" selected="selected">{{ text_disabled }}</option>
											{% endif %}
										</select>
									</div>
								</div>
								{% if payment_multibanco_activate_cancelMultibancoOrder %}
									<div class="panel panel-default">
										<div class="panel-heading">
											<i class="fa fa-question-circle"></i>
											{{ head_cancel_cron }}</div>
										<div class="panel-body">
											<p>{{ text_cron_documentation }}</p>
											<p>{{ text_cancel_cron_desc }}</p>
											<p>{{ text_cancel_cron_schedule }}</p>
											<div class="input-group">
												<div class="input-group-addon">{{ label_cron_url }}
												</div>
												<input type="text" value="wget -q -O /dev/null &quot;{{ cron }}&quot; --read-timeout=5400" id="input-cron" class="form-control"/>
												<div class="input-group-btn">
													<button type="button" id="button-copy" data-toggle="tooltip" title="{{ btn_copy }}" class="btn btn-default">
														<i class="fa fa-copy"></i>
													</button>
												</div>
											</div>
										</div>
									</div>
								{% endif %}
							{% endif %}
							<div class="form-group">
								<label class="col-sm-2 control-label" for="multibanco">{{ entry_multibanco_entidade }}</label>
								<div class="col-sm-10">
									<select name="payment_multibanco_entidade" id="ifthenpayMultibancoEntidade" class="form-control">
										{% if not payment_multibanco_entidade %}
											<option value="" disabled selected hidden></option>
										{% endif %}
										{% for multibanco_entidade in multibanco_entidades %}
											{% if multibanco_entidade.value == payment_multibanco_entidade %}
												<option value="{{ payment_multibanco_entidade }}" selected="selected">{{ payment_multibanco_entidade }}</option>
											{% else %}
												<option value="{{ multibanco_entidade.value }}">{{ multibanco_entidade.value }}</option>
											{% endif %}
										{% endfor %}
									</select>
									{% if multibanco_entidades %}
										{{ spinner }}
									{% endif %}
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label" for="input-multibanco-subEntidade">{{ entry_multibanco_SubEntidade }}</label>
								<div class="col-sm-10">
									<select name="payment_multibanco_subEntidade" id="ifthenpayMultibancoSubentidade" class="form-control">
										{% if not payment_multibanco_subEntidade %}
											<option value="" disabled selected hidden></option>
										{% endif %}
										{% for multibanco_sub_entidade in multibanco_sub_entidades %}
											{{ multibanco_sub_entidade.value }}
											{% if multibanco_sub_entidade.value == payment_multibanco_subEntidade %}
												<option value="{{ payment_multibanco_subEntidade }}" selected="selected">{{ payment_multibanco_subEntidade }}</option>
											{% else %}
												<option value="{{ multibanco_sub_entidade.value }}">{{ multibanco_sub_entidade.value }}</option>
											{% endif %}
										{% endfor %}

									</select>
								</div>
							</div>
							{% if dynamicMb %}
								<div class="form-group" id="ifthenpayMultibancoDeadline_group">
									<label class="col-sm-2 control-label" for="multibanco">{{ entry_multibanco_deadline }}</label>
									<div class="col-sm-10">
										<select name="payment_multibanco_deadline" id="ifthenpayMultibancoDeadline" class="form-control">
											{% if not payment_multibanco_deadline %}
												<option class="pl_holder" value="" disabled selected hidden></option>
											{% endif %}
											{% for multibanco_deadline in multibanco_deadlines %}
												{% if multibanco_deadline.value == payment_multibanco_deadline and payment_multibanco_deadline is defined  %}
													<option value="{{ payment_multibanco_deadline }}" selected="selected">{{ payment_multibanco_deadline }}</option>
												{% else %}
													<option value="{{ multibanco_deadline.value }}">{{ multibanco_deadline.value }}</option>
												{% endif %}
											{% endfor %}
										</select>
										<small id="payment_multibanco_deadline_help" class="form-text text-muted">{{ payment_multibanco_deadline_help }}</small>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label" for="input-order-status_canceled">{{ entry_order_status_canceled }}</label>
									<div class="col-sm-10">
										<select name="payment_multibanco_order_status_canceled_id" id="input-order-status_canceled" class="form-control">
											{% for order_status in order_statuses %}
												{% if order_status.order_status_id == payment_multibanco_order_status_canceled_id ?? 7 %}
													<option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
												{% else %}
													<option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
												{% endif %}
											{% endfor %}
										</select>
									</div>
								</div>
							{% else %}
								<div class="form-group">
									<div class="col-sm-10">
										<h4>{{dontHaveAccount_multibanco_dynamic }}</h4>
										<a class="btn btn-primary" id="requestDynamicMultibancoAccount" href="{{actionRequestDynamicMultibancoAccount}}" role="button">{{requestAccount_multibanco_dynamic}}</a>
										{{ spinner }}
									</div>
								</div>
							{% endif %}

							<div class="form-group">
								<label class="col-sm-2 control-label" for="input-order-status">
									<span data-toggle="tooltip" title="{{ help_entry_order_status_pending }}">{{ entry_order_status_pending }}</span>
								</label>
								<div class="col-sm-10">
									<select name="payment_multibanco_order_status_id" id="input-order-status" class="form-control">
										{% for order_status in order_statuses %}
											{% if order_status.order_status_id == payment_multibanco_order_status_id ?? 1 %}
												<option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
											{% else %}
												<option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
											{% endif %}
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label" for="input-order-status-complete">{{ entry_order_status_complete }}</label>
								<div class="col-sm-10">
									<select name="payment_multibanco_order_status_complete_id" id="input_order_status_complete" class="form-control">
										{% for order_status in order_statuses %}
											{% if order_status.order_status_id == payment_multibanco_order_status_complete_id ?? 2 %}
												<option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
											{% else %}
												<option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
											{% endif %}
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label" for="input-geo-zone">{{ entry_geo_zone }}</label>
								<div class="col-sm-10">
									<select name="payment_multibanco_geo_zone_id" id="input-geo-zone" class="form-control">
										<option value="0">{{ text_all_zones }}</option>
										{% for geo_zone in geo_zones %}
											{% if geo_zone.geo_zone_id == payment_multibanco_geo_zone_id ?? 0 %}
												<option value="{{ geo_zone.geo_zone_id }}" selected="selected">{{ geo_zone.name }}</option>
											{% else %}
												<option value="{{ geo_zone.geo_zone_id }}">{{ geo_zone.name }}</option>
											{% endif %}
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label" for="input-minimum-value">
									<span data-toggle="tooltip" title="{{ help_entry_minimum_value }}">{{ entry_minimum_value }}</span>
								</label>
								<div class="col-sm-10">
									<input type="number" id="input-minimum-value" name="payment_multibanco_minimum_value" value="{{payment_multibanco_minimum_value}}" step="0.01" placeholder="0.00" class="form-control" min="0"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label" for="input-maximum-value">
									<span data-toggle="tooltip" title="{{ help_entry_maximum_value }}">{{ entry_maximum_value }}</span>
								</label>
								<div class="col-sm-10">
									<input type="number" id="input-maximum-value" name="payment_multibanco_maximum_value" value="{{payment_multibanco_maximum_value}}" step="0.01" placeholder="0.00" class="form-control" min="0"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label" for="input-status">{{ show_paymentMethod_logo }}</label>
								<div class="col-sm-10">
									<select name="payment_multibanco_showPaymentMethodLogo" id="input-status" class="form-control">
										{% set  payment_multibanco_showPaymentMethodLogo = payment_multibanco_showPaymentMethodLogo ?? 1 %}
										{% if payment_multibanco_showPaymentMethodLogo %}
											<option value="1" selected="selected">{{ text_enabled }}</option>
											<option value="0">{{ text_disabled }}</option>
										{% else %}
											<option value="1">{{ text_enabled }}</option>
											<option value="0" selected="selected">{{ text_disabled }}</option>
										{% endif %}
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label" for="input-sort-order">{{ entry_sort_order }}</label>
								<div class="col-sm-10">
									<input type="text" name="payment_multibanco_sort_order" value="{{payment_multibanco_sort_order}}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control"/>
								</div>
							</div>
						{% endif %}
					{% else %}
						<div class="form-group">
							<label class="col-sm-2 control-label" for="inputBackofficeKey">
								<span data-toggle="tooltip" title="{{ help_backoffice_key }}">{{ entry_backoffice_key }}</span>
							</label>
							<div class="col-sm-10">
								<input type="text" name="payment_multibanco_backofficeKey" value="{{ payment_multibanco_backofficeKey }}" placeholder="{{ help_place_holder_backoffice_key }}" id="inputBackofficeKey" class="form-control"/>
							</div>
						</div>
					{% endif %}
				</form>
			</div>
		</div>
		{% if displayCallbackTableInfo %}
			<div class="panel">
				<div class="panel-heading">
					{% if isCallbackActivatedAlert %}
						<span class="label label-success">{{callbackIsActivated}}</span>
					{% else %}
						<span class="label label-danger">{{callbackNotActivated}}</span>
					{% endif %}
					{% if isSandboxActivatedAlert %}
						<span class="label label-warning">{{sandboxActivated}}</span>
					{% endif %}
				</div>


				<div class="panel-body">
					<div class="col-sm-12 callback_box">
						<div class="col-md-3 col-sm-12">
							{{entry_antiPhishingKey}}
						</div>
						<div class="col-md-9 col-sm-12 text-right">
							<span class="badge">{{ payment_multibanco_chaveAntiPhishing }}</span>
						</div>
					</div>
					<div class="col-sm-12 callback_box">
						<div class="col-md-3 col-sm-12">
							{{entry_urlCallback}}
						</div>
						<div class="col-md-9 col-sm-12">
							<span id="callbackUrl" class="badge no_wrapp_badge" style="display:none;">{{ payment_multibanco_urlCallback }}</span>
						</div>
					</div>
				</div>

				<div class="panel panel-default ml-15px mr-15px">
					<div class="panel-heading">
						<i class="fa fa-question-circle"></i>
						{{ head_check_cron }}</div>
					<div class="panel-body">
						<p>{{ text_cron_documentation }}</p>
						<p>{{ text_check_cron_desc }}</p>
						<p>{{ text_check_cron_schedule }}</p>
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">{{ label_cron_url }}
								</div>
								<input type="text" value="wget -q -O /dev/null &quot;{{ cron_check_payment_status }}&quot; --read-timeout=5400" id="input-cron-paymentStatus" class="form-control"/>
								<div class="input-group-btn">
									<button type="button" id="button-copy-payment-status" data-toggle="tooltip" title="{{ btn_copy }}" class="btn btn-default">
										<i class="fa fa-copy"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>


			{# Test callback panel #}

			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-question-circle"></i>
					{{ entry_test_callback }}
				</div>

				<div class="panel-body form-horizontal">

					<div id="callback_result" data-msgemptyfields="{{ msg_callback_test_empty_fields }}"></div>

					<div class="form-group">
						<label class="col-sm-2 control-label" for="reference">
							{{ entry_reference }}
						</label>
						<div class="col-sm-10">
							<input type="text" id="reference" name="reference" class="form-control"/>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-2 control-label" for="amount">
							{{ entry_amount }}
						</label>
						<div class="col-sm-10">
							<input type="text" id="amount" name="amount" class="form-control"/>
						</div>
					</div>


					<div class="pull-right">
						<button id="test_callback" type="button" data-toggle="tooltip" data-paymentmethod="multibanco" title="{{ button_save }}" data-url="{{test_callback_controller_url}}" class="btn btn-primary">
							{{ btn_test }}
						</button>
					</div>


				</div>
			</div>

		{% endif %}
		{% if payment_multibanco_backofficeKey %}
			<div class="panel panel-default resetIfthenpayAccountsPanel">
				<div class="panel-body text-center">
					<h2>{{ add_new_accounts }}</h2>
					<p>{{ add_new_accounts_explain }}</p>
					<div class="col-md-4"></div>
					<div class="spinnerDivWithBtn col-md-4">
						<a id="resetIfthenpayAccount" href="{{resetIfthnepayAccountsUrl}}" class="btn btn-danger btn-lg btn-block" data-paymentmethod="multibanco">{{ reset_accounts }}</a>
						{{ spinner }}
					</div>
				</div>
			</div>
		{% endif %}
		{{ifthenpay_updateModule}}
	</div>
</div>
{{ footer }}
