{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">
				<button type="submit" form="form_module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
				<a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
			</div>
			<h1>{{ heading_title }}</h1>
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				<li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		{% if error_warning %}
			<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
				<button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
		{% endif %}
		{% if success %}
			<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
				<button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
		{% endif %}
		<div class="panel panel-default">
      		<div class="panel-heading">
        		<h3 class="panel-title"><img src="view/image/payment/{{ paymentMethod }}.png" alt="" /></h3>
      		</div>
			  <div class="panel-body">
        		<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-payment" class="form-horizontal">
					{% if hasCallback %}
					<div class="form-group">
						<label class="control-label col-lg-3">{{ activate_callback }}</label>
						<div class="col-lg-9">
							<div class="btn-group" id="status" data-toggle="buttons">
								<label class="btn btn-default btn-on btn-lg {{ _context["payment_ifthenpay_activateCallback_#{paymentMethod}"] == '1' ? 'active' : '' }}">
								<input type="radio" value="1" name="{{ "payment_ifthenpay_activateCallback_#{paymentMethod}" }}" checked={{ _context["payment_ifthenpay_activateCallback_#{paymentMethod}"] == '1' ? 'checked' : '' }}>{{ switch_enable }}</label>
								<label class="btn btn-default btn-off btn-lg {{ _context["payment_ifthenpay_activateCallback_#{paymentMethod}"] == '0' ? 'active' : '' }}">
								<input type="radio" value="0" name="{{ "payment_ifthenpay_activateCallback_#{paymentMethod}" }}" checked={{ _context["payment_ifthenpay_activateCallback_#{paymentMethod}"] == '0' ? 'checked' : '' }}>{{ switch_disable }}</label>
							</div>
						</div>
					</div>
					{% endif %}
					{{paymentMethodConfigForm}}
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-order-status">{{ entry_order_status }}</label>
						<div class="col-sm-10">
						<select name="{{ "payment_ifthenpay_#{paymentMethod}_order_status_id" }}" id="input-order-status" class="form-control">
							{% for order_status in order_statuses %}
							{% if order_status.order_status_id == _context["payment_ifthenpay_#{paymentMethod}_order_status_id"] %}
							<option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
							{% else %}
							<option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
							{% endif %}
							{% endfor %}
						</select>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-order-status-complete">{{ entry_order_status_complete }}</label>
						<div class="col-sm-10">
						<select name="{{ "payment_ifthenpay_#{paymentMethod}_order_status_complete_id" }}" id="input_order_status_complete" class="form-control">
							{% for order_status in order_statuses %}
							{% if order_status.order_status_id == _context["payment_ifthenpay_#{paymentMethod}_order_status_complete_id"] %}
							<option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
							{% else %}
							<option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
							{% endif %}
							{% endfor %}
						</select>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-geo-zone">{{ entry_geo_zone }}</label>
						<div class="col-sm-10">
						<select name="{{ "payment_ifthenpay_#{paymentMethod}_geo_zone_id" }}" id="input-geo-zone" class="form-control">
							<option value="0">{{ text_all_zones }}</option>
							{% for geo_zone in geo_zones %} 
							{% if geo_zone.geo_zone_id == _context["payment_ifthenpay_#{paymentMethod}_geo_zone_id"] %}
							<option value="{{ geo_zone.geo_zone_id }}" selected="selected">{{ geo_zone.name }}</option>
							{% else %}
							<option value="{{ geo_zone.geo_zone_id }}">{{ geo_zone.name }}</option>
							{% endif %}
							{% endfor %}
						</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-sort-order">{{ entry_sort_order }}</label>
						<div class="col-sm-10">
						<input type="text" name="{{ "payment_ifthenpay_#{paymentMethod}_sort_order" }}" value="{{ _context["payment_ifthenpay_#{paymentMethod}_sort_order"] }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control" />
						</div>
					</div>
				</form>
			  </div>
		</div>
		{% if displayCallbackTableInfo %}
			<div class="panel">
				<div class="panel-heading">
					{% if isCallbackActivated %}
						<span class="label label-success">{{callbackIsActivated}}</span>
					{% else %}
						<span class="label label-danger">{{callbackNotActivated}}</span>
					{% endif %}
				</div>
				<div class="panel-body">
					<ul class="list-group callback-list-group">
						<li class="list-group-item">
							{{entry_antiPhishingKey}}
							<span class="badge">{{ _context["payment_ifthenpay_#{paymentMethod}_chaveAntiPhishing"] }}</span>
						</li>
						<li class="list-group-item callback-list">
							{{entry_urlCallback}}
							<span id="callbackUrl" class="badge" style="display:none;">{{ _context["payment_ifthenpay_#{paymentMethod}_urlCallback"] }}</span>
						</li>
					</ul>
				</div>
			</div>
		{% endif %}
	</div>
</div>
{{ footer }}
